body {
    height: 100vh;
    margin: 0px;
}

#content {
    display: flex;
    flex-direction: column;

}

#top {
    font-family: "Rock 3D";
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0ffff;
}

#middle {
   display: flex;
    
    
}

#side-bar {
    min-width: 300px;
    height: 100vh;
    background-color: #FFF0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

#list-ico {
    height: 32px;
    margin-left: 30px;
}

.nav-buttons, .button-project, #add-project { 
    width: 250px;
    height: 40px;
    border: none;
    background-color: #FFF0F0;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-family: "Yuji Hentaigana Akebono";
    gap: 10px;

}

#acceptButton {
    border: none;
    background-color: #F8FFF0;
    padding: 0px;
    height: 16px;
}



.del-project {
    margin-left: auto;
    padding-right: 5px;
    display: none;
}

.button-project:hover .del-project {
    display: block;
}

#project-name-input {
    border-radius: 5px;
    width: 188px;
    padding: 10px;
    border: 1px solid #aaa;
    outline: none;
}

#input-buttons {
    width: 210px;
    display: flex;
    gap: 10px;

}

.input-button {
    width: 100px;
    height: 37px;
    border-radius: 5px;
    border: none;
}

#add-button {
    background-color: #aaffaa;
    border: 1px solid #99dd99;
    font-weight: bold;
}

#add-button:hover {
    background-color: #91E691;
}

#cancel-button {
    background-color: #ffbebe;
    border: 1px solid #eeadad;
    font-weight: bold;
}

#cancel-button:hover {
    background-color: #E6A5A5;
}

button:hover {
    cursor: pointer;
}

#project-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
}

.nav-buttons:hover, .button-project:hover, #add-project:hover {
    background-color: #E6D7D7;
    border-radius: 3px;
}



h2 {
    align-self: flex-start;
    font-family: "Rock 3D";
    padding-left: 30px;
    margin-bottom: 0px;
}

#main-div {
    background-color: #F8FFF0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

#list {
    width: 780px;
    height: 90%;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    font-family: "Moo Lah Lah";
    font-size: 25px;
}

#list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #E6D7D7;
    padding-bottom: 5px;

}

#add-task {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 5px;
    margin-top: 10px;
    font-size: 18px;
    width: 100px;
}

#add-task img {
    height: 12px;
}

#add-task:hover {
    cursor: pointer;
    background-color: #DFE6D7;
    border-radius: 3px;
}

#due-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#arrow-sort {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto Mono";
    font-size: 14px;
    border-bottom: 1px solid #E6D7D7;
    padding-right: 10px;
    padding-left: 2px;
}

.edit-task {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono";
    border-bottom: 1px solid #E6D7D7;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: "Roboto Mono";

}

.date-set {
    width: 140px;
    margin-left: 2px;

}

.date-set, .set-project-name {
    background-color: #F8FFF0;
    border: 1px solid #E6D7D7;
    outline: none;
    border-radius: 2px;
}

.edit-task label {
    font-size: 10px;
    margin-top: 20px;
    padding: 2px;
    padding-bottom: 0px;
}

.set-project-name {
    height: 20px;
    padding: 0px;
    text-align: center;
    font-family: "Roboto Mono";
}

.date-and-project img {
    height: 16px;
    cursor: pointer;
}

.date-and-project {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

textarea {
    outline:none;
    resize: none;
}

.task-title-textarea, .task-description {
    border: none;
    background-color: #F8FFF0;
    height: 20px;
    font-family: "Roboto Mono";
}

.task-description {
    height: 100px;
    resize: vertical;
    width: 400px;
}

.task-title-textarea {
    margin-bottom: 5px;
}

.delete-edit-task:hover {
    cursor: pointer;
}


.task-left {
    display: flex;
    gap: 5px;
    align-items: center;
}

.delete-edit-task {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    visibility: hidden;
}

.task:hover .delete-edit-task {
    visibility: visible;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}